.DS_Store
.idea/
*.iml
.classpath
.project
.settings
out/
*/*/common/target/
*/*/feeder/target/
*/*/processor/target/
*.class
*.jar
*.war
*.ear
*/*/.metadata/
*/*/.project
*/*/.classpath
*/*/.settings
/target/